html,
body,
#__next {
  height: 100%;
  margin: 0;
}

.cstm-toolbar {
  left: 25%;
  right: 25%;
}

.tempBoard {
  left: 0;
  position: absolute;
}
.undo,
.redo,
.more {
  width: 20px;
}

.tool-item {
  text-transform: capitalize;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  cursor: pointer;
}
.custom-menu{
  padding: 0.5rem 1rem !important;
  width: 280px !important;

}
 .dropdown a {
  color : #35384D !important;

}
.dropdown a:hover{
  text-decoration: none !important;
}

#text_tool {
  position: absolute;

  border: 1px dashed black;
  outline: 0;
  z-index: 1000 !important;
  display: none;
  overflow: hidden;
  white-space: nowrap;
}
.tab-content>.tab-pane {
 
  position: relative;
}